{% extends 'base.html' %}

{% block head %} <!-- Title should be inside head block -->
    <title>Login Page</title>
{% endblock %}


{% block body %}
<h1>MyPage</h1>
     <h1>Welcome, {{ user.username }}!</h1>
    <p>Your email: {{ user.email }}</p>
   <h3>Interests</h3>


   <ul>
    {% for interest in interests %}
        <li id="interest-{{ interest.id }}">
            <!-- Display Mode -->
            <div class="display-mode" id="display-{{ interest.id }}">
                <span class="hobby">{{ interest.hobby }}</span> -
                <span class="description">{{ interest.description }}</span>
                <a href="{{ url_for('main.delete',username=user.username, id=interest.id) }}" onclick="return confirm('Are you sure you want to delete this interest?');">Delete</a>
            </div>
          <a href="{{ url_for('main.update_interest', username=user.username, id=interest.id) }}" id="edit-{{ interest.id }}">
                <button class="edit-btn" data-id="{{ interest.id }}">Edit</button>
          </a>

        </li>

    {% endfor %}
</ul>


    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h3> add new interests!!</h3>
            {{ form.hobby(class="form-control", placeholder="Enter an interest") }}
            {{ form.description(class="form-control", placeholder="Enter a description") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
</div>

     <a href="{{ url_for('main.delete_all',username=user.username) }}" onclick="return confirm('Are you sure you want to delete this account?');">Delete Account</a>

      <a href="/logout">Logout</a><br>

{% endblock %}

